<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
	    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"></link>
			<link rel="stylesheet" type="text/css" href="../js/datatables.min.css"></link>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<link rel="stylesheet" type="text/css" href="../js/datatables.css"></link>
			
			<script>
				$(document).ready( function () {
	    			$('#table_id').DataTable();
				} );
			</script>
			<script type="text/javascript" charset="utf8" src="../js/datatables.min.js"></script>
			<script type="text/javascript" charset="utf8" src="../js/datatables.js"></script>
        <title>Mencari Data</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SI Kependudukan</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
						
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="/student/viewall">Cari Data</a>
					</li>
				</ul>
							
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2"
					type="text"
					placeholder="Search"
					aria-label="Search" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Search
					</button>
				</form>
			</div>
	</nav>


    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-left">
                <h1>Cari Data Penduduk</h1>
                <label for="kt">Pilih Kota</label>
                        <input type="text" class="form-control" name="kt_nama" readonly="true" th:value="${nama_kota}" />

                        <label for="kt">Pilih Kecamatan</label>
                        <input type="text" class="form-control" name="kc_nama" readonly="true" th:value="${nama_kecamatan}" />
                <form action="/penduduk/cari" method="get">
                    <div class="form-group">

                        <input type="hidden" name="kt" th:value="${kt}" />
                        <input type="hidden" name="kc" th:value="${kc}" />
                        <label for="kt">Pilih Kelurahan</label>
                        <select class="form-control" name="kl">
                            <option th:each="kelurahan, iterationStatus: ${semuaKelurahan}" th:text="${kelurahan.nama_kelurahan}" th:value="${kelurahan.id}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Lihat</button>
                </form>
            </div>
        </div>
    </div>
    
    </body>
</html>
